@model IEnumerable<ModelsLayer.GetWishList>

<div>
    <div class="box">
        <h2 class="text1">Bookstore</h2>
    </div>
    <div class="card">
        <div class="cart_container">
            <h1>My WishList(1)</h1>
            @foreach (var items in Model)
             {
                <div class="card_getcart">
                    <div class="getcart_field">
                        @items.Image
                    </div>
                    <div class="container_getcart">
                        <div class="getcart_field">
                            @items.BookName
                        </div>
                        <div class="getcart_field text_size">
                            By @items.Author
                        </div>
                        <div class="getcart_field">
                            Rs.@items.Price
                        </div>
                    </div>
                </div>
             }
    </div>
</div>
