body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/*.title_Layout {
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}*/


.box {
    text-align: center;
    background: #800000;
    opacity: 1;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    height: 55px;
}

.text1 {
    font-family: 'Poppins', sans-serif;
    margin-top: 5px;
    margin-bottom: 0px;
    float: left;
    flex-wrap: wrap;
    margin-left: 200px;
    color: white;
    padding-top: 5px;
}
a {
    FONT-SIZE: 15PX;
    font-family: 'Poppins', sans-serif;
    float: left;
    flex-wrap: wrap;    
}
.wishLink {
    FONT-SIZE: 20PX;
    font-family: 'Poppins', sans-serif;
    float: left;
    flex-wrap: wrap;
    color: white;
}
.text2 {
    font-family: 'Poppins', sans-serif;
    float: right;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-right: 180px;
    color: white;
    padding-top: 10px;
}

.card_getbooks {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 30%;
    margin-right: 16px;
    margin-top: 10px;
}

    .card_getbooks:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

.container_getbooks {
    padding: 15px 16px;
   
}

.card_container {
    display: flex;
    flex-wrap: wrap;
}

.getbook_field {
    padding: 2px 5px;
}

.text_size {
    font-size: 10px;
    color: gray;
}

.buttons {
    display: flex;
    justify-content: space-between;
    padding: 3px 10px;
    padding-left: 0px;
    font-size: 10px;

}
/*.btn-wishlist {
    color: black;
    width: 100%;
    background-color: white;
    border-color: lightgray;
    height: 25px
}*/
.btn-primary{
    display:none;
}
.btn-danger {
    color: #fff;
    background-color: #841e1c;
    width: 119px;
    height: 25px;
    font-size: 14px;
}
.input-field {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
}

.book_image{
    
    width:20vw;
    height:20vh;
    padding-top:10px;
}